**/node_modules
**/dist
**/.turbo
**/coverage
**/*.log
.git
**/.env
**/.env.*
!**/.env.example
!apps/api/.env.agent-flow-e2e.example

apps/mobile/*
!apps/mobile/package.json
apps/admin/*
!apps/admin/package.json
packages/assets/*
!packages/assets/package.json
packages/theme/*
!packages/theme/package.json

UI-Preview
backend
